/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
            &none    &none    &none    &none    &none                                                                                         &none      &none      &none       &none       &none
            &none    &kp N1   &kp N2   &kp N3   &kp N4   &kp N5                                                                      &kp N6   &kp N7     &kp N8     &kp N9      &kp N0      &none
            &none    &kp B    &kp L    &kp D    &kp C    &kp V                                                                       &kp J    &kp Y      &kp O      &kp U       &kp COMMA   &none
            &none    &kp N    &kp R    &kp T    &kp S    &kp G                                                                       &kp P    &kp H      &kp A      &kp E       &kp I       &none
            &none    &kp X    &kp Q    &kp M    &kp W    &kp Z    &none      &none      &none          &none    &none    &none       &kp K    &kp F      &kp SQT    &kp SEMI    &kp DOT     &none
            &none    &none    &none    &none    &none             &kp SPACE  &none      &none          &none    &kp RET  &kp BSPC             &none      &none      &none       &none       &none
            >;
        };
    };
};
