/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define LE4  0
#define LE3  1
#define LE2  2
#define LE1  3
#define LE0  4
#define RE0  5
#define RE1  6
#define RE2  7
#define RE3  8
#define RE4  9
#define LN5 10
#define LN4 11
#define LN3 12
#define LN2 13
#define LN1 14
#define LN0 15
#define RN0 16
#define RN1 17
#define RN2 18
#define RN3 19
#define RN4 20
#define RN5 21
#define LT5 22
#define LT4 23
#define LT3 24
#define LT2 25
#define LT1 26
#define LT0 27
#define RT0 28
#define RT1 29
#define RT2 30
#define RT3 31
#define RT4 32
#define RT5 33
#define LH5 34
#define LH4 35
#define LH3 36
#define LH2 37
#define LH1 38
#define LH0 39
#define RH0 40
#define RH1 41
#define RH2 42
#define RH3 43
#define RH4 44
#define RH5 45
#define LB5 46
#define LB4 47
#define LB3 48
#define LB2 49
#define LB1 50
#define LB0 51
#define LBT2 52
#define LBT1 53
#define LBT0 54
#define RBT0 55
#define RBT1 56
#define RBT2 57
#define RB0 58
#define RB1 59
#define RB2 60
#define RB3 61
#define RB4 62
#define RB5 63
#define LTH5 64
#define LTH4 65
#define LTH3 66
#define LTH2 67
#define LTH1 68
#define LTH0 69
#define RTH0 70
#define RTH1 71
#define RTH2 72
#define RTH3 73
#define RTH4 74
#define RTH5 75
#define RTH6 76
#define RTH7 77
#define RTH8 78
#define RTH9 79

#define KEYS_L LE4 LE3 LE2 LE1 LE0 LN5 LN4 LN3 LN2 LN1 LN0 LT5 LT4 LT3 LT2 LT1 LT0 LH5 LH4 LH3 LH2 LH1 LH0 LB5 LB4 LB3 LB2 LB1 LB0 LBT2 LBT1 LBT0
#define KEYS_R RE0 RE1 RE2 RE3 RE4 RN0 RN1 RN2 RN3 RN4 RN5 RT0 RT1 RT2 RT3 RT4 RT5 RH0 RH1 RH2 RH3 RH4 RH5 RBT0 RBT1 RBT2 RB0 RB1 RB2 RB3 RB4 RB5
#define THUMBS LTH5 LTH4 LTH3 LTH2 LTH1 LTH0 RTH0 RTH1 RTH2 RTH3 RTH4 RTH5 RTH6 RTH7 RTH8 RTH9

/ {
    behaviors {
        hml: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_R THUMBS>;
            hold-trigger-on-release;
        };

        hmr: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_L THUMBS>;
            hold-trigger-on-release;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
            &none &none &none &none &none                                       &none &none &none &none &none
            &none &kp N1 &kp N2 &kp N3 &kp N4 &kp N5                            &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &none
            &none &kp B &kp L &kp D &kp C &kp V                                 &kp J &kp Y &kp O &kp U &kp COMMA &none
            &none &hml LGUI N &hml LALT R &hml LCTRL T &hml LSHFT S &kp G       &kp P &hmr RSHFT H &hmr RCTRL A &hmr RALT E &hmr RGUI I &none
            &none &kp X &kp Q &kp M &kp W &kp Z &none &none &none               &none &none &none &kp K &kp F &kp SQT &kp SEMI &kp DOT &none

            &none &none &none &none &none &kp SPACE &none &none                 &none &kp RET &kp BSPC &none &none &none &none &none
            >;
        };
    };
};
